@import url(./font.css);


body {
  font-family: 'BebasNeue-book', sans-serif;
  letter-spacing: 0.1mm;
}

:root {
  --paleBlue: #0098d9;
  --darkBlue: #164d8e;
  --mauve: #232f62;
}

body {
  margin: 0;
  padding: 0;
}

.content-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-container-noUser {
  display: grid;
  grid-template-columns: 100%;
}

.detailsContainerGrid {
  grid-template-columns: 100%;
}

.detailsContent-Card {
  width: 100%;
}

.content-card {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  text-align: center;
  justify-self: left;
}

.imageTile {
  position: relative;

  background-color: red;
  padding: 0;

  height: 0;
  width: 0;
}

.testing {
  position: absolute;
  right: -19vw;
  top: 1vh;
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 15px;
}

.customCard {
  position: relative;

  display: flex;
  flex-direction: column;

  min-width: 500px;
  max-width: 500px;

  padding: 3px;
  border-radius: 15px;
  background-color: #535353;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 30px;

  box-shadow: 5px 5px 7px black;
  z-index: 1;

  justify-self: center;
}

.customCard:hover {
  border-radius: 0;
  transition: all 0.2s;
}

.customCard:hover .title {
  border-radius: 0;
  transition: all 0.2s;
}

.customCard:hover p {
  border-radius: 15px 0px 15px 0px;
  transition: all 0.2s;
}

.example-date {
  background-color: var(--darkBlue);
  min-width: 50px;
  position: relative;
  padding: 45px 5px 0px;
  margin-top: 10px;
  margin-right: 500px;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;

  font-family: 'BebasNeue-bold', sans-serif;
  user-select: none;
}

.example-date .year {
  display: block;
  position: absolute;
  right: -5px;
  top: 15px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  font-weight: bold;
  color: white;
}

.example-date .month {
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

.example-date .day {
  font-size: 30px;
  line-height: 55px;
  position: absolute;
  left: 5px;
  top: 0px;
  color: white;
}

.customCard .title {
  display: grid;
  background-color: #212121;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin: 2px;

  text-transform: uppercase;

  font-family: 'BebasNeue-bold', sans-serif;
}

.customCard .content {
  background-color: #3a3b3b;
  border-radius: 0px 0px 10px 10px;

  word-wrap: break-word;


  cursor: pointer;

}
.disabled{
  max-width: 200px;
  min-width: 200px;
  border-radius: 50px;
  margin-top: -10px;
  margin-bottom: 10px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  border: none;
  background-color: var(--paleBlue);
  filter: grayscale(100%) opacity(70%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.content-text-font{
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 0.1mm;
}

.customCard p {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;

  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 0.1mm;

}

.customCard button {
  max-width: 200px;
  min-width: 200px;
  border-radius: 50px;
  margin-top: -10px;
  margin-bottom: 10px;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;

  border: none;
  background-color: var(--paleBlue);
  text-align: center;


  user-select: none;
  color: white;
  font-size: large;
  text-transform: uppercase;

  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 0.1mm;
}

.customCard button:hover {
  background-color: var(--darkBlue);
  cursor: pointer;
}

.customCard button:active {
  background-color: var(--mauve);
}

.dis {
  display: flex;
  flex-direction: column;
}

.hide-dis {
  display: none;
}

.noUser-justify {
  justify-self: center;
}

.content-tag {
  position: relative;
  flex-direction: column;
  margin-top: 5%;

  justify-items: center;
  align-items: center;

  font-family: 'BebasNeue-book', sans-serif;
  user-select: none;
  z-index: 1;
}

.content-tag .tags {
  position: relative;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: black;
  padding: 5%;
  margin-right: 10px;
  border: 1px solid;
  box-shadow: 2px 2px 4px black;
}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;

  align-self: center;
}


.tag-node {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

.clickable {
  cursor: pointer;
  margin-top: 10px;
  user-select: none;
}

.clickable:hover {
  box-shadow: 0 0 5px;
}

.addTags-menu-hide {
  height: 0;
  width: 0;
  overflow: hidden;
}

.abs-drop {
  position: absolute;
  top: 109px;
  left: 20px;
}

.rel-drop {
  position: relative;
  top: -4px;
  left: unset;
}

.customToast {
  position: relative;
}

.slideIn {
  animation: slideInAnimation 0.5s forwards;
}

.slideOut {
  animation: slideOutAnimation 0.5s forwards;
}

@keyframes slideInAnimation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutAnimation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}



.customDropdown {
  position: relative;
  top: -4px;
  left: unset;

  background-color: rgb(201, 201, 201);
  flex-direction: column;
  align-items: center;
  max-width: 130px;
  width: 130px;
  height: fit-content;
  border-radius: 10px 10px 5px 5px;
  z-index: 1000;
}

.cDText {
  padding-left: 1px;
  padding-right: 1px;
  margin: 2px;
  max-width: 130px;
  flex-wrap: wrap;
  word-wrap: break-word;
  border: 1px solid white;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
}

.cDText:active {
  box-shadow: 0 0 5px;
}

.noSpace {
  padding: 0;
  margin: 0;
}

.x-icon {
  margin-left: 5px;
  cursor: pointer;
}

.tags-title {
  font-size: large;
  font-weight: bold;
  height: 20px;
}


.tags label {
  padding-right: 10px;
  font-size: 20px;
  text-wrap: wrap;
  max-width: 200px;
}

.tags label::first-letter {
  text-transform: uppercase;
}



.tags button {
  margin-top: 5%;
  background-color: var(--paleBlue);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  margin: 10px;

}

.tags button:hover {
  background-color: var(--darkBlue);
  cursor: pointer;
}

.tags button:active {
  background-color: var(--mauve);
  cursor: pointer;
}

.tags input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: flex;
  flex-direction: row;
  place-content: center;
}

.tags input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--darkBlue);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.tags input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.tags input[type="checkbox"]:focus {
  outline: max(1px, 0.1em) solid currentColor;
  outline-offset: max(1px, 0.1em);
}

.content-fbtn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  position: fixed;
  justify-items: end;
  align-items: end;

  z-index: -1;
}

.content-fbtn .floating-button {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  margin-bottom: 100px;
  margin-right: 100px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  border: none;
  z-index: 1;
}

.content-fbtn .floating-button:hover {
  color: var(--paleBlue);
  cursor: pointer;
  transition: 0.3s;
}

.content-fbtn .floating-button p {
  font-size: 22px;
}


/* Media queries for small screens */
@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 100%;
  }

  .customCard {
    max-width: 300px;
    min-width: 300px;
  }

  .customCard .content {
    max-width: 300px;
    min-width: 300px;
  }


  .content-card,
  .customCard,
  .example-date,
  .content-tag {
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;


  }

  .example-date {
    margin: 5%;
  }

  .content-tag {
    margin-top: 10%;
  }

  .content-fbtn {
    justify-items: center;
    align-items: center;

  }

  .content-fbtn .floating-button {
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 20px;
  }
}

/* Media queries for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .content-container {
    grid-template-columns: 50% 50%;
  }

  .content-card,
  .customCard,
  .example-date,
  .content-tag {
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .example-date {
    margin-bottom: 5%;
  }

  .content-tag {
    margin-top: 10%;
  }

  .content-fbtn {
    justify-items: center;
    align-items: center;
  }

  .content-fbtn .floating-button {
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 20px;
  }
}

/* Media queries for large screens */
@media (min-width: 1025px) {

  .content-card,
  .example-date {
    /*justify-self: left;*/
  }


  .content-tag {
    margin-top: 10%;
    margin-bottom: 20px;
    /* Add margin between tag cards and content cards */
  }

  .content-fbtn {
    justify-items: end;
    align-items: end;
  }

  .content-fbtn .floating-button {
    margin-bottom: 100px;
    margin-right: 100px;
  }
}