:root {
  --paleBlue: #0098d9;
  --mauve: #232f62;
  --darkBlue: #164d8e;
}
.noWhitespace{
    background-color: var(--paleBlue);
    height: 7vh;
}

footer{
    background-color: var(--paleBlue);
    display: flex;
    justify-content: center;
}

.link{
    color: var(--darkBlue);
}

.link:hover{
    color: var(--mauve);
}

.link:active{
    color: black;
}
