:root {
  --paleBlue: #0098d9;
  --mauve: #232f62;
  --darkBlue: #164d8e;
}
.noWhitespace{
    background-color: var(--paleBlue);
    height: 100%;
    padding-bottom: 150px;
}

footer{
background-color: var(--paleBlue);
margin-top: auto;

}

.link{
    color: var(--darkBlue);
}

.link:hover{
    color: var(--mauve);
}

.link:active{
    color: black;
}
