:root {
  --paleBlue: #0098d9;
  --mauve: #232f62;
  --darkBlue: #164d8e;
}

footer{
background-color: var(--darkBlue);
}

.link{
    color: var(--paleBlue);
}

.link:hover{
    color: var(--mauve);
}

.link:active{
    color: black;
}
