:root {
  --paleBlue: #0098d9;
  --mauve: #232f62;
  --darkBlue: #164d8e;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: BebasNeueBold;
}

.main-logo{
  background-image: url('../../public/V2030\ transparence.png');
  background-repeat: no-repeat;
  background-size:100px;
  height: 48px;
  padding-right: 50px;
  padding-left: 50px;
  line-height: 48px;
  justify-self: start;
  margin-top: 12px;
}

.logo {
  font-size: 45px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: black;
  transition: all 0.3s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  line-height: 48px;
}

.checkbtn:hover {
  color: var(--darkBlue);
  transition: all 0.3s;
}
#check {
  display: none;
}

header {
  width: 100%;
  background-color: var(--paleBlue);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  line-height: 48px;
}

header .start {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 15% 85%;
  line-height: 48px;
}

header .end {
  display: grid;
  justify-items: end;
  align-items: center;
  margin-right: 20px;
  line-height: 48px;
}

header .end a {
  font-size: 16px;
  color: white;
  padding: 0px 5px 0px 5px;
  background-color: var(dark);
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

header .end a:hover {
  color: var(--darkBlue);
  transition: 0.3s;
}

header .end a:active {
  color: var(--mauve);
}

ul {
  position: absolute ;
  width: fit-content;
  height: 100%;
  background: var(--paleBlue);
  top: 63px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 15px 0px;
  z-index: 1000;
  border: 1px solid var(--darkBlue);
}
ul li {
  display: block;
  margin: 50px 0;
  line-height: 30px;
  color: white;
}

ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

ul li a:hover {
  color: var(--darkBlue);
}

#check:checked ~ ul {
  left: 0;
  padding: 0px 10px;
  height: 100%;
}

header .middle {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.search {
  font-size: 20px;
  color: white;
  cursor: pointer;
  height: max-content;
  width: max-content;
  margin-right: 5px;
  padding-bottom: 3px;
}

.search:hover {
  color: black;
  transition: all 0.3s;
}
.nav-icon {
  color: white;
}

.search-bar {
  border: none;
  border-radius: 4px;
  height: 23px;
  text-indent: 4px;
  width: fit-content;
  margin-right: 5px;
}
.search-bar:focus-visible {
  box-shadow: 0px 0px 10px black;
  outline: none;
  transition: all 0.1s;
}
