/* ProfileImg.css */

.profile-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn:hover {
    color: white;
    background-color: #054285;

}
.txt-success {
    color: green;
    /* Set text color to green */
}
